:root {
    scrollbar-width: thin;
    scrollbar-color: #28272a transparent;
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1624px;
    --main-width: 1624px;
    --header-height: 60px;
    --footer-height: 60px;
    /*--radius: 8px;*/
    --theme: rgb(255, 255, 255);
    --entry: rgb(255, 255, 255);
    --primary: rgb(19, 16, 25);
    --secondary: rgb(19, 16, 25);
    --tertiary: rgb(214, 214, 214);
    --content: rgb(123, 61, 10);
    --code-block-bg: rgb(28, 29, 33);
    --code-bg: rgb(203, 224, 226);
    --border: rgb(174, 207, 210);
    --font-shadow: rgb(222, 230, 254);
    --bfont-shadow: rgb(57, 69, 108);
    cursor: url(https://nurbeksultanov.com/media/WTArrow1.png) 0,0,auto;
}

a, button, .clickable {
    cursor: url(https://nurbeksultanov.com/media/WTHand1.png) 0,0,auto;
}

.dark {
    --theme: rgb(19, 16, 25);
    --entry: rgb(19, 16, 25);
    --primary: rgb(255, 255, 255);
    --secondary: rgb(255, 255, 255);
    --tertiary: rgb(65, 66, 68);
    --content: rgb(245, 183, 132);
    --code-block-bg: rgb(46, 46, 51);
    --code-bg: rgb(29, 50, 52);
    --border: rgb(45, 78, 81);
    --font-shadow: rgb(57, 69, 108);
    --bfont-shadow: rgb(222, 230, 254);
    cursor: url(https://nurbeksultanov.com/media/DTArrow1.png) 0,0,auto;
}

    .dark a:hover, .dark button:hover, .dark .clickable:hover {
        cursor: url(https://nurbeksultanov.com/media/DTHand1.png) 0,0,auto;
    }



.list {
    background: var(--theme);
}

.dark.list {
    background: var(--theme);
}
